.wrapper {
  width: 100%;
  min-height: 90vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.contactInfo {
  background-color: var(--color-green);
  width: 25vw;
  border-radius: 5px;
  padding: 2.5em;
  color: white;
}

.contactForm {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em 0em;
  height: 100%;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0em 2em;
}

.messageContainer label {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: var(--color-green);
}

.messageContainer input {
  border: 0px;
  border-bottom: 1px solid var(--color-green);
  padding: 0.5em 1em;
  font-size: 1em;
  margin-bottom: 2em;
}

.contactInfo p {
  margin-bottom: 5em;
}

.contactInfo h2 {
  color: var(--color-golden);
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info h3 {
  padding-left: 0.5em;
  margin: 0.5em;
  font-weight: normal;
}

@media only screen and (max-width: 1225px) {
  .contactContainer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .contactInfo {
    width: 100%;
    border-radius: 5px;
    padding: 2.5em;
  }
}
