.button {
  background-color: var(--color-green);
  text-align: center;
  padding: 0.8em 2em;
  font-size: 1.1em;
  font-weight: normal;
  font-family: "Baloo Da 2", cursive;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  .button {
    padding: 0.8em 1em;
    font-size: 1em;
  }
}
