.wrapper {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.welcomeContainer {
  width: 100%;
  margin-bottom: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Lucida Handwriting;
  font-style: italic;
  font-weight: normal;
}

.welcomeImageContainer {
  width: 35%;
  margin-bottom: 3em;
  overflow: hidden;
}

.welcomeContainer h1 {
  color: var(--color-golden);
}

.welcomeContainer h2 {
  color: var(--color-green);
}

.articleContainer {
  display: flex;
  flex-direction: row;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8em;
  font-size: 1.1em;
  font-family: "Baloo Da 2", cursive;
}

.reverse {
  flex-direction: row-reverse;
}

.informationContainer {
  width: 50%;
  overflow: hidden;
  padding: 0em 3em;
}

.informationContainer h3 {
  font-family: Lucida Handwriting;
  font-style: italic;
  font-weight: normal;
  color: var(--color-green);
  font-size: 1.8em;
  margin-top: 0.6em;
}

.informationContainer h4 {
  color: var(--color-golden);
  font-size: 1em;
  font-weight: lighter;
  margin-bottom: 0;
}

.informationContainer p {
  font-weight: 200;
  font-size: 1.1em;
  text-align: justify;
  color: var(--color-green);
  line-height: 2em;
}

.articleImageContainer {
  width: 50%;
  overflow: hidden;
  padding: 0em 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.articleContainer div {
  margin-top: 2em;
}

.priceContainer {
  margin-bottom: 2em;
}

.priceContainer h1 {
  text-align: center;
  font-family: Lucida Handwriting;
  font-style: italic;
  font-weight: normal;
  color: var(--color-golden);
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 2em 0em;
  }
  .articleContainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 4em;
  }
  .informationContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .articleImageContainer {
    width: 75%;
    padding: 0em 2em;
  }
}

@media only screen and (max-width: 768px) {
  .articleContainer {
    font-size: 1em;
  }
  .informationContainer {
    font-size: 1em;
  }

  .welcomeContainer h1 {
    font-size: 1.5em;
  }

  .welcomeContainer h2 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 650px) {
  .welcomeImageContainer {
    width: 75%;
    margin-bottom: 0em;
  }
  .welcomeContainer {
    margin-bottom: 0em;
  }
}

@media only screen and (max-width: 425px) {
  .articleContainer {
    font-size: 0.9em;
  }
  .informationContainer {
    font-size: 0.9em;
  }
  .welcomeContainer h1 {
    font-size: 1.1em;
  }
  .welcomeContainer h2 {
    font-size: 0.8em;
  }
}
