.coverPhotoContainer {
  position: relative;
  height: 95vh;
}

.buttonContainer {
  position: absolute;
  bottom: 2em;
  left: 50%;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .coverPhotoContainer {
    height: 50vh;
  }
}

@media only screen and (max-width: 500px) {
  .buttonContainer {
    font-size: 0.9em;
  }
}
